p {
  color: aliceblue;
}

.portfolio-container {
  background-color: #101820;
  text-align: center;
  height: 100vh;
  padding: 20px;
}
  
.portfolio-container h2 {
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Bruno Ace SC', cursive;
  color: #FEE715;
}
  
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
  
.project-card {
  background-color: #7a7a7a;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
  
.project-card h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Bruno Ace SC', cursive;
  margin-top: 0;
  color: aliceblue;
}
  
.project-card img {
  max-width: 100%;
  margin-bottom: 10px;
}
  
.project-card p {
  margin-bottom: 10px;
  color: #101820;
}
  
.project-card .technologies {
  font-size: 14px;
  color: #FEE715;
  margin-bottom: 10px;
}
  
.project-links a {
  display: inline-block;
  margin-right: 10px;
  color: aliceblue;;
  text-decoration: none;
}
  
.project-links a:hover {
  color: #101820;
}